name: Deploy

on:
  push:
    branches: [ master ]

env:
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_REGION: ${{ vars.AWS_REGION }}
  GITHUB_REPOSITORY: ${{ github.repository }}
  CDK_DISABLE_TELEMETRY: 1

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Deploy infrastructure to AWS
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build CDK app
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          unset-current-credentials: true
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: CDK Synth
        run: npx cdk synth

      - name: CDK Deploy
        run: |
          npx cdk deploy \
            --all \
            --require-approval never
